# Machine Learning 1 - Aprendizado Supervisionado  - KNN
Prof: Nielsen Rechia

### Autores: 
Roberto Coutinho  
Thais Galho

### Exercício - K-NN usando dataset zoo


Tarefas:

* Analisar o conjunto de dados, quais são os atributos e onde está a classe;
* Realizar uma classificação com k-NN
* Varie o tamanho dos dados para teste
* Varie k de 1 a 5
* Anote os resultados de acurácia
* Qual melhor acurácia? 
* Qual k do melhor modelo segunda acurácia?

Descrição dos arquivos:

* zoo.csv

### Imports

In [15]:
#encoding=utf-8
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier

### Carrega conjunto de dados

In [8]:
zoo = pd.read_csv(
    filepath_or_buffer='zoo/zoo.csv', 
    na_values='?',  # detecta ? como um valor NaN
    skipinitialspace=True  # ignora espaços em branco entre valores
)
zoo.head()

,animal_name,pelos,penas,ovos,leite,voa,aquatico,predador,dentes,espinha_dorsal,respira,venenoso,barbatanas,patas,rabo,domestico,tamanho,classe
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [90]:
classes = pd.read_csv(
    filepath_or_buffer='zoo/zoo-class.csv', 
    na_values='?',  # detecta ? como um valor NaN
    skipinitialspace=True  # ignora espaços em branco entre valores
)

#
classes.head(15)

,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
0,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
1,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
2,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"
3,4,13,Fish,"bass, carp, catfish, chub, dogfish, haddock, h..."
4,5,4,Amphibian,"frog, frog, newt, toad"
5,6,8,Bug,"flea, gnat, honeybee, housefly, ladybird, moth..."
6,7,10,Invertebrate,"clam, crab, crayfish, lobster, octopus, scorpi..."

## Avaliação de desempenho

#### Define o método para calcular a acurácia do modelo

In [55]:
def getAccuracy(testset, predictions):
    correct = 0
    for id_test, test in testset.iterrows():
        if test[-1] == predictions.ix[id_test][0]:
            correct += 1
    return (correct / float(len(testset))) * 100.0

In [112]:
scores = pd.DataFrame(columns=["n_of_k", 
                               "accuracy",
                              "%_of_sample"])

sample_splits = [0.15, 0.2, 0.3, 0.4]
k_max = 5

########################################
# Variando os dados de treino e teste
########################################

for i in sample_splits:
    print "Sampling by "+str(i)+"%"
    trainset, testset, = train_test_split(zoo, test_size=i)
    print len(trainset)
    print len(testset)

    ########################################
    # Para cada variação, executa de K a Max
    ########################################

    for k in range(1, k_max):
        knn = KNeighborsClassifier(n_neighbors=k)
        knn.fit(trainset.iloc[:, 1:], trainset.iloc[:, 17])
        predicted_knn = knn.predict(testset.iloc[:, 1:])
        accuracy = getAccuracy(testset, pd.DataFrame(predicted_knn, index=testset.index.values))
        #Add to score dataframe
        scores.loc[len(scores)] = [k, accuracy, i]
        print str(k) + "NN's : Acc " + str(accuracy) +" : Sample by "+str(i)+"% "
    
    print

Sampling by 0.15%
85
16
1NN's : Acc 100.0 : Sample by 0.15%
2NN's : Acc 100.0 : Sample by 0.15%
3NN's : Acc 100.0 : Sample by 0.15%
4NN's : Acc 100.0 : Sample by 0.15%

Sampling by 0.2%
80
21
1NN's : Acc 100.0 : Sample by 0.2%
2NN's : Acc 100.0 : Sample by 0.2%
3NN's : Acc 95.2380952381 : Sample by 0.2%
4NN's : Acc 95.2380952381 : Sample by 0.2%

Sampling by 0.3%
70
31
1NN's : Acc 100.0 : Sample by 0.3%
2NN's : Acc 96.7741935484 : Sample by 0.3%
3NN's : Acc 96.7741935484 : Sample by 0.3%
4NN's : Acc 87.0967741935 : Sample by 0.3%

Sampling by 0.4%
60
41

/Users/roberto/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

1NN's : Acc 100.0 : Sample by 0.4%
2NN's : Acc 90.243902439 : Sample by 0.4%
3NN's : Acc 90.243902439 : Sample by 0.4%
4NN's : Acc 90.243902439 : Sample by 0.4%

In [111]:

scores.sort_values(by=['accuracy'], ascending=False).head(20)

    n_of_k    accuracy  %_of_sample
0      1.0  100.000000         0.15
1      2.0  100.000000         0.15
2      3.0  100.000000         0.15
4      1.0  100.000000         0.20
8      1.0  100.000000         0.30
9      2.0  100.000000         0.30
5      2.0   95.238095         0.20
6      3.0   95.238095         0.20
7      4.0   95.238095         0.20
3      4.0   93.750000         0.15
10     3.0   90.322581         0.30
11     4.0   90.322581         0.30
12     1.0   87.804878         0.40
13     2.0   78.048780         0.40
14     3.0   78.048780         0.40
15     4.0   68.292683         0.40

#### Matriz de confusão

In [118]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(testset.iloc[:, 17], predicted_knn)
print 'Confusion Matrix : '
print cm
print
tn = float(cm[0][0])
fp = float(cm[0][1])
fn = float(cm[1][0])
tp = float(cm[1][1])

actual_yes = fn+tp
actual_no = tn+fp
predicted_yes = fp+tp
predicted_no = tn+fn

total = float(len(df))
print 'Total : '+ str(total)

print 'Acurácia : ' + str(ggetAccuracy(testset, pd.DataFrame(predicted_knn, index=testset.index.values))

misclassification_rate = round((fp+fn)/total,3) # Overall, how often is it wrong?
print 'Misclassification rate : ' +str(misclassification_rate)

true_positive = round(tp/actual_yes,3) # When it's actually yes, how often does it predict yes?
print 'True positives : ' +str(true_positive)

false_positive = round(fp/actual_no,3) # When it's actually no, how often does it predict yes?
print 'False positives : ' +str(false_positive)

specificity = round(tn/actual_no,3) # When it's actually no, how often does it predict no?
print 'Specificity : ' +str(specificity)

precision = round(tp/predicted_yes,3) # When it predicts yes, how often is it correct?
print 'Precision : ' +str(precision)

prevalence = round(actual_yes/total,3) # How often does the yes condition actually occur in our sample?
print 'Prevalence : ' +str(prevalence)

f1 = round(2 * ((precision * true_positive) / (precision + true_positive)),3)
print 'F1 Score : ' +str(f1)

SyntaxError: invalid syntax (<ipython-input-118-dc6917d35ec0>, line 22)